<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.kfc.kiosk.VO.Menu" alias="Menu" />
	</typeAliases>
	<mappers>
		<mapper resource="Mapper/MenuMapper.xml" />
	</mappers>
</configuration>
