<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="io.zerone.moneydiary.DAO.AccountMapper">
	<insert id="insertAccount" parameterType="Account">
		insert into AccountOwner(
			id
			, pw
		) values (
			#{id}
			, #{pw}
		)
	</insert>
	
	<select id="selectAccount" parameterType="Account" resultType="Account">
		select
			id
			, pw
		from AccountOwner
		where id = #{id}
	</select>

</mapper>
