@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body{
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
}

ul,li{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}



header{
    width: 100vw;
    height: 50px;
}

.createTodo {
    position: relative;
    float: right;
    top: 20px;
    right: 5%;
    width: 200px;
    height: 50px;
    background-color: #20ADEE;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    line-height: 3rem;
}

.createTodo span{
    color: #fff;
    font-size: 20px;
}

section{
    clear: both;
    width: 100vw;
    height: auto;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.column {
    float: left;
    width: 30%;
    height: auto;
}

.column_title {
    background-color: #345461;
    width: 90%;
    height: 50px;
    margin: 5%;
    padding-left: 5%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 3rem;
}

.column_card {
    position: relative;
    background-color: #CEE5EF;
    width: 85%;
    margin: 5%;
    padding: 5%;
    height: 100%;
}

.todo_title{
    font-weight: bold;
}

.todo_info{
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
    color: #75878A;
    height: 100%;
}
.todo_info span{
    float: left;
}

.btn{
    position: absolute;
    right: 15px;
    bottom: 20px;
}

.form_wrap {
    width: 50%;
    margin: 0 auto;
}

.form_title{
    text-align: center;
}

.input_title{
    display: block;
    margin-bottom: -10px;
    margin-top: 20px; 
    font-size: 1.2rem;   
}

#title{
    width: 100%;
    height: 35px;
    padding-left: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

#name{
    width: 50%;
    height: 35px;
    padding-left: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.seq{
    margin-right: 20px;
}

.btn_list{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

.btn_prev{
    float: left;
    border: 1px solid #000;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8rem;
    box-sizing: border-box;
}

.btn_form{
    float: right;
    width: 100px;
    height: 30px;
    background-color: #22ADED;
    border: 0;
    padding: 0;
    text-align: center;
    margin-left: 10px;
}

.btn_form button{
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #fff;
    font-family: "Nanum Gothic", sans-serif;
    
}
